h1{
    text-align: center;
    padding: 2%;
}
h5 {
  background-color: orange;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.container > .row {
    padding: 3%;
}
.page-content .mdl-card {
    margin: 1em;
}

.animLoading {
    display: none;
}

#map {
    height: 440px;
    width:  500px
}   
