button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
  }

  .container > .row{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .col-lg-5 > img{
    margin-top: 5%;
    max-width: 75%;
    height: auto;
  }
