.form-group{
    margin-bottom: 1%;
}

form > button {
    margin-top: 4%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}


.col-lg-5 > img{
    margin-top: 5%;
    max-width: 75%;
    height: auto;
}

footer{
    margin-top: 1%;
}

.col-lg-5 > img{
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}

.container > .row {
    padding: 2%;
}