.col-lg-5 {
    padding: 2%;    
}

.form-group{
    margin-bottom: 1%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: blue;
}

.navbar-nav .nav-item > .nav-link + ul.nested-nav {
    padding-left: 2%;
}

.sidebar .nav-link {
    color: black;
    font-size: 85%;
}

.sidebar .sidebar-header {
    color: black;
    font-size: 100%;
}

.header-link{
    color: black;
}

.contact{
    margin-top: 5%;
}