/*Sets theme for all webpages*/

body {
    background-color: white;
}

nav > .container-fluid > .row > .col {
    background-color: lightgrey;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    margin: 20px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    height: 250px;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  .card button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto 0 auto;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  